<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- <property name="LOG_HOME" value="F:/logs"/>-->
    <property name="LOG_HOME" value="/usr/local/src/logs"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss:sss} [%thread] [%highlight(%-5level)] %logger{5} >> %msg%n"/>

    <property name="FILE_LOG_PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{5} >> %msg%n"/>

    <property name="sagaClient" value="sagaClientService_log"/>
    <property name="sagaClientInfo" value="sagaClientService_info"/>
    <property name="sagaClientError" value="sagaClientService_error"/>

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <!--sagaClient服务日志输入规则-->
    <appender name="sagaClientInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${sagaClient}/%d{yyyy-MM-dd,aux}/${sagaClientInfo}.%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <appender name="sagaClientErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${sagaClient}/%d{yyyy-MM-dd,aux}/${sagaClientError}.%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <!--servicecomb模块日志输出规则-->
    <appender name="servicecombAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${servicecomb}/%d{yyyy-MM-dd,aux}/${servicecombLog}-%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="springInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${spring}/%d{yyyy-MM-dd,aux}/${springInfo}.%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <appender name="springErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${spring}/%d{yyyy-MM-dd,aux}/${springError}.%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
    <appender name="testAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${test}/%d{yyyy-MM-dd,aux}/${testName}.%d{yyyy-MM-dd_HH}.%i.log
            </fileNamePattern>
            <MaxHistory>360</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- 异步输出 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="testAppender"/>
    </appender>

    <!--mybatis 日志服务-->
    <logger name="com.yanwu.demo.pojo.mapper" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.ibatis" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.Statement" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.PreparedStatement" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="java.sql.ResultSet" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--sagaClient服务-->
    <logger name="com.yanwu.demo.saga.client" level="INFO" additivity="false">
        <appender-ref ref="sagaClientInfoAppender"/>
        <appender-ref ref="sagaClientErrorAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--spring-->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="springInfoAppender"/>
        <appender-ref ref="springErrorAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--servicecomb-->
    <logger name="org.apache.servicecomb" level="INFO" additivity="false">
        <appender-ref ref="servicecombAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--huawei-->
    <logger name="com.huawei.paas.cse" level="INFO" additivity="false">
        <appender-ref ref="servicecombAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>